<h2>Welcome to the Recipe App</h2>

<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--<link rel="icon" type="image/x-icon" href="favicon.ico">-->
<!--<style>-->
  <!--.scroll{-->
    <!--overflow-x:scroll;-->
    <!--max-width:100%;-->
    <!--position:relative;-->
  <!--}-->
<!--</style>-->


<!--<div  >-->

  <!--<h3>Click on 'Partial refresh' to simulate a postback</h3>-->
  <!--<button id="postback">Partial refresh</button >-->
  <!--<div id="updatePanel">-->



    <!--<br/>-->

    <!--<p><strong>resizeMode: 'fit'</strong> table width adapts to the container width. Columns resize using their neighbour's width</p>-->
    <!--<table id="normal" width="100%" border="0" cellpadding="0" cellspacing="0">-->
      <!--<tr>-->
        <!--<th>header</th><th>header</th><th>header</th>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td class="left">cell</td><td>cell</td><td class="right">cell</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td class="left">cell</td><td>cell</td><td class="right">cell</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td class="left bottom">cell</td><td class="bottom">cell</td><td class="bottom right">cell</td>-->
      <!--</tr>-->
    <!--</table>-->


    <!--<p><strong>resizeMode: 'flex'</strong> columns are sized independently unless there is not enought space in the container</p>-->
    <!--<table id="flex" width="50%" border="0" cellpadding="0" cellspacing="0">-->
      <!--<tr>-->
        <!--<th>header</th><th>header</th><th>header</th>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td class="left">cell</td><td>cell</td><td class="right">cell</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td class="left">cell</td><td>cell</td><td class="right">cell</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td class="left bottom">cell</td><td class="bottom">cell</td><td class="bottom right">cell</td>-->
      <!--</tr>-->
    <!--</table>-->


    <!--<p><strong>resizeMode: 'overflow'</strong> columns are sized independently. Table width can exceed its container </p>-->
    <!--<div class="scroll">-->
      <!--<table id="overflow" width="100%" border="0" cellpadding="0" cellspacing="0">-->
        <!--<ng-container *ngFor="let recipe of recipes; let i = index">-->
        <!--<tr>-->
          <!--<td class="left"> {{ recipe.name }}</td><td>{{ recipe.description}}</td>-->
          <!--<td>-->
            <!--<img-->
              <!--src="{{ recipe.imagePath }}"-->
              <!--alt="{{ recipe.name }}"-->
              <!--class="img-responsive"-->
              <!--style="max-height: 50px;"></td>-->
        <!--</tr>-->
        <!--</ng-container>-->
       <!--</table>-->
    <!--</div>-->

    <!--<br/>-->




  <!--</div>-->
  <!--<br/>-->


  <!--<br/><br/>-->

<!--</div>-->





